<?xml version="1.0" encoding="UTF-8"?>

<element>
    <web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.1">
        
        <!-- RegisterServlet Configuration -->
        <servlet>
            <servlet-name>RegisterServlet</servlet-name>
            <servlet-class>Servlet.RegisterServlet</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>RegisterServlet</servlet-name>
            <url-pattern>/RegisterServlet</url-pattern>
        </servlet-mapping>
        
         <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>CabBookingServlet</servlet-name>
    <servlet-class>Servlet.CabBookingServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CabBookingServlet</servlet-name>
    <url-pattern>/CabBookingServlet</url-pattern>
</servlet-mapping>
    
    	 <servlet>
        <servlet-name>DriverLoginServlet</servlet-name>
        <servlet-class>Servlet.DriverLoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DriverLoginServlet</servlet-name>
        <url-pattern>/DriverLoginServlet</url-pattern>
    </servlet-mapping>
    	
    		<servlet>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <servlet-class>Servlet.DeleteBookingServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <url-pattern>/DeleteBookingServlet</url-pattern>
</servlet-mapping>
    
    
        </web-app>
</element>